<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: head"></head>
<header th:replace="layout/template :: header"></header>
<body>
<section th:fragment="buttons" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-success" th:href="@{/addNewContract/}" test-id="addContract">
                    <i class="fas fa-plus"></i>
                    Agregar Contrato</a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="card">
                <div class="card-header">
                    <h4>Listado Contratos</h4>
                </div>
                   <br>
                <div th:if="${contracts != null and !contracts.isEmpty()}">
                    <div class="search-box">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>&nbsp;Buscar Contrato</h5>
                            </div>
                            <form th:action="@{/Contracts}" method="GET" class="was-validated">
                            <div class="input-group mb-3 col-md-auto">
                                <input type="text" id="myInput"  name="myInput" class="form-control" placeholder="Ingrese palabra clave">
                                <div class="input-group-append">
                                    <button class="btn btn-success" test-id="searchContractxsd"
                                            type="submit">Buscar</button>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $("#myInput").on("keyup", function () {
                                            var value = $(this).val().toLowerCase();
                                            $("#dtBasicExample tr").filter(function () {
                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                            });
                                        });
                                    });
                                </script>
                            </div>
                            </form>
                        </div>
                    </div>
                        <br>
                <table id="dtBasicExample" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Cliente</th>
                            <th>Enlace</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr test-id="rowtable" th:each="contract : ${contracts}">
                            <td test-id="idContract" th:text="${contract.split(',')[0]}">Mostrar Id</td>
                            <td th:text="${contract.split(',')[1]}">Mostrar Nombre</td>
                            <td th:text="${contract.split(',')[2]}">Mostrar Estado</td>
                            <td th:text="${contract.split(',')[3]}"></td>
                            <td>
                                <a th:href="@{/abrirContrato/} + ${contract.split(',')[0]}" test-id="openContract" class="btn btn-outline-success">Abrir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav class="form-inline">
                        <ul class="pagination">
                            <li class="page-item p-2">N° Total Items: [[${totalItems}]] Pagina [[${currentPage}]] de
                                [[${totalPages}]]
                            </li>
                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage > 1}"
                                   th:href="@{'/Contracts/page/1'}">Primera</a>
                                <span class="page-link btn btn-light" th:unless="${currentPage > 1}">Primera</span>
                            </li>

                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage > 1}"
                                   th:href="@{'/Contracts/page/' + ${currentPage - 1}}">Anterior</a>
                                <span class="page-link btn btn-light" th:unless="${currentPage > 1}">Anterior</span>
                            </li>

                            <li class="page-item pagination">
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a class=" page-item page-link btn btn-light page-item" th:if="${i != currentPage}"
                                       th:href="@{'/Contracts/page/' + ${i}}">[[${i}]]</a>
                                    <span class="page-item page-link btn btn-light page-item"
                                          th:unless="${i != currentPage}">[[${i}]]</span>
                                </span>
                            </li>
                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage < totalPages}"
                                   th:href="@{'/Contracts/page/' + ${currentPage + 1}}">Siguiente</a>
                                <span class="page-link btn btn-light"
                                      th:unless="${currentPage < totalPages}">Siguiente</span>
                            </li>

                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage < totalPages}"
                                   th:href="@{'/Contracts/page/' + ${totalPages}}">Ultima</a>
                                <span class="page-link btn btn-light"
                                      th:unless="${currentPage < totalPages}">Ultima</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute;width: 370px;top: 150px;left: 70%;" th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     th:text="${mensaje}"
     class="alert">
    <i class="fas fa-check-circle"></i>
</div>
<footer th:replace="layout/template :: footer"></footer>
<script th:replace="layout/template :: scriptAlerts"></script>
</body>
</html>
