<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: head"></head>
<header th:replace="layout/template :: header"></header>
<body>
<section th:fragment="buttons" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-success" test-id="addEmployee" th:href="@{/addNewEmployee/}">
                    <i class="fas fa-plus"></i>
                    Agregar Empleado</a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="card">
                <div class="card-header">
                    <h4>Listado Empleados</h4>
                </div>
                <br>
                <div th:if="${employees != null and !employees.isEmpty()}">
                    <div class="search-box">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>&nbsp;Buscar Empleado</h5>
                            </div>
                            <form th:action="@{/Employees}"
                                  method="GET" class="was-validated">
                                <div class="input-group mb-3 col-md-auto">
                                    <input type="text" id="myInput" name="myInput" class="form-control"
                                           placeholder="Ingrese palabra clave">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" test-id="searchEmployee"
                                                type="submit">Buscar
                                        </button>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $("#myInput").on("keyup", function () {
                                                var value = $(this).val().toLowerCase();
                                                $("#dtBasicExample tr").filter(function () {
                                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <table id="dtBasicExample" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Identificación</th>
                            <th>Nombres</th>
                            <th>Apodo</th>
                            <th>Teléfono</th>
                            <th>Enlace</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr test-id="datasEmployee" th:each="employee : ${employees}">
                            <td th:text="${employee.getIdEmployee()}"></td>
                            <td th:text="${employee.getName() + ' ' + employee.getLastname()}"></td>
                            <td th:if="${employee.getNickname() != ''}" th:text="${employee.getNickname()}"></td>
                            <td th:if="${employee.getNickname() == ''}" th:text="${'No Registra'}"></td>
                            <td th:text="${employee.getNumberPhone()}"></td>
                            <td>
                                <a th:href="@{/abrirEmpleado/} + ${employee.getIdEmployee()}" test-id="openEmployee"
                                   class="btn btn-outline-success">Abrir</a>
                            </td>
                        </tbody>
                    </table>
                    <nav class="form-inline">
                        <ul class="pagination">
                            <li class="page-item p-2">N° Total Items: [[${totalItems}]] Pagina [[${currentPage}]] de
                                [[${totalPages}]]
                            </li>
                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage > 1}"
                                   th:href="@{'/Employees/page/1'}">Primera</a>
                                <span class="page-link btn btn-light" th:unless="${currentPage > 1}">Primera</span>
                            </li>

                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage > 1}"
                                   th:href="@{'/Employees/page/' + ${currentPage - 1}}">Anterior</a>
                                <span class="page-link btn btn-light" th:unless="${currentPage > 1}">Anterior</span>
                            </li>

                            <li class="page-item pagination">
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a class=" page-item page-link btn btn-light page-item" th:if="${i != currentPage}"
                                       th:href="@{'/Employees/page/' + ${i}}">[[${i}]]</a>
                                    <span class="page-item page-link btn btn-light page-item"
                                          th:unless="${i != currentPage}">[[${i}]]</span>
                                </span>
                            </li>
                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage < totalPages}"
                                   th:href="@{'/Employees/page/' + ${currentPage + 1}}">Siguiente</a>
                                <span class="page-link btn btn-light"
                                      th:unless="${currentPage < totalPages}">Siguiente</span>
                            </li>

                            <li class="page-item">
                                <a class="page-link btn btn-light" th:if="${currentPage < totalPages}"
                                   th:href="@{'/Employees/page/' + ${totalPages}}">Ultima</a>
                                <span class="page-link btn btn-light"
                                      th:unless="${currentPage < totalPages}">Ultima</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute;width: 370px;top: 150px;left: 70%;"
     th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     th:text="${mensaje}"
     class="alert">
    <i class="fas fa-check-circle"></i>
</div>
<footer th:replace="layout/template :: footer"></footer>
<script th:replace="layout/template :: scriptAlerts"></script>
</body>
</html>
