<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/template :: head"></head>
<header th:replace="layout/template :: header"></header>
<body>
<section th:fragment="editarEmpleado">
    <form th:action="@{/saveChangesEmployee}" method="POST" class="was-validated" th:object="${empleado}">
        <div id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a th:href="@{/abrirEmpleado/} + ${empleado.idEmployee}" class="btn btn-light btn-block">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" test-id="saveChangesEmployee" class="btn btn-success btn-block">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                    <div th:if="${isAsociated == false}" class="col-md-3">
                        <a th:href="@{/deleteEmployee(idEmployee=${empleado.idEmployee})}" test-id="deleteEmployee"
                           class="btn btn-danger btn-block">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="details">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Editar Empleado</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="idEmployee" >Identificación</label>
                                    <input type="number" min="1" max="999999999999" th:onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:field="*{idEmployee}" class="form-control" name="idEmployee" required="true" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="employeeName">Nombre empleado</label>
                                    <input type="text" class="form-control" th:field="*{name}" name="name" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="employeeLastName" >Apellido empleado</label>
                                    <input type="text" class="form-control" th:field="*{lastname}" name="lastname" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="employeeNickName">Apodo</label>
                                    <input type="text" class="form-control" th:field="*{nickname}" name="nickname">
                                </div>
                                <div class="form-group">
                                    <label for="homeAdress">Dirección de residencia</label>
                                    <input type="text" class="form-control" th:field="*{adress}" name="adress" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="numbePhone">Numero de teléfono</label>
                                    <input type="number" min="1" max="3999999999" th:onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:field="*{numberPhone}" class="form-control" name="numberPhone" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="eps">EPS</label>
                                    <input type="text" min="1" class="form-control" th:field="*{eps}" name="eps" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="afp">AFP</label>
                                    <input type="text" min="1" class="form-control" th:field="*{afp}" name="afp" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="arl">ARL</label>
                                    <input type="text" min="1" class="form-control" th:field="*{arl}" name="arl" required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<footer th:replace="layout/template :: footer"></footer>
</body>
</html>